.btn-custom{
    background-color: #00857B !important;
    border-color: #00857B !important;
} 
.btn-custom:hover{
    background-color: #00857ba8 !important;
    border-color: #00857B !important;
}  
 